.switch {
  display: block;
  --width-of-switch: 2.4em;
  --height-of-switch: 1.4em;
  --size-of-icon: 1em;
  --slider-offset: 0.2em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  background-image: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  transition: .4s;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1em);
  width: var(--size-of-icon,1em);
  border-radius: 20px;
  left: var(--slider-offset,0.2em);
  top: 50%;
  transform: translateY(-50%);
  background: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1a1a1a;
  background-image: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1em) + var(--slider-offset,0.2em)));
  background: #1a1a1a;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 12px);
  transform: translateY(-50%);
  opacity: 0;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
  letter-spacing: 0.5px;
  font-size: 11px;
  font-weight: 700;
  white-space: nowrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.switch:hover .tooltip {
  right: calc(100% + 18px);
  opacity: 1;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ff2525;
  top: 50%;
  right: -4px;
  transform: translateY(-50%) rotate(45deg);
}
